<div id="content-wrapper" class="container-fluid ">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card  card widget login-widget blue mb-5 mt-5">
        <div class="card-header"
          *ngIf="isResetPasswordLinkActivated=='notActivated'||isResetPasswordLinkActivated=='expired'">
          <div class="w-100 position-relative">
            <h2 class="m-0 font-weight-bold ff-eagle title2 mt-2">Reset Password</h2>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()"
            *ngIf="isResetPasswordLinkActivated=='notActivated'||isResetPasswordLinkActivated=='expired'">
            <div class="form-group">
              <label class="small mb-1" for="password">Password</label>
              <input class="form-control py-4" formControlName="password" placeholder="Enter Password" id="password"
                type="password" [ngClass]="{'is-invalid': f.password.invalid && f.password.touched}">
              <div *ngIf="f.password.invalid && f.password.touched">
                <small *ngIf="f.password.errors?.required" class="text-danger">Password
                  Required</small>
                <small *ngIf="f.password.errors?.pattern" class="text-danger">Password must contain minimum eight
                  characters, at least one uppercase letter, one lowercase letter, one number and one special
                  character</small>
              </div>
            </div>
            <div class="form-group">
              <label class="small mb-1" for="passwordRetype">Confirm Password</label>
              <input class="form-control py-4" formControlName="passwordRetype" placeholder="Re-Enter the Password"
                id="passwordRetype" type="password"
                [ngClass]="{'is-invalid': f.passwordRetype.invalid && f.passwordRetype.touched}">
            </div>

            <br />
            <div>
              <button class="class btn btn-primary" type="submit">Submit</button>
            </div>




          </form>
          <div class="card card widget mx-1 my-1 " *ngIf="isResetPasswordLinkActivated=='activated'">
            <div style="text-align: center;" class="mx-3 my-3">
              This recovery link to reset the password is not valid
              <div class="mediuem" style="text-align: center;">
                <a class="mediuem" routerLink="" (click)="redirectToForgotPassword()">Reset password
                  again</a>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer text-center pt-0 pb-1">
          <div class="mediuem">
            <a class="mediuem dark-blue-link" (click)="navigate()">Return to home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>