<div id="content-wrapper" class="container-fluid ">
  <div class="row justify-content-center">
    <div class="col-lg-5">
      <div class="card  card widget login-widget blue mb-5 mt-5">
        <div class="card-header">
          <div class="w-100 position-relative">
            <h2 class="m-0 font-weight-bold ff-eagle title2 mt-2">Forgot Password</h2>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label class="small mb-1" for="userName">Username</label>
              <input class="form-control py-4" formControlName="userName" id="userName" type="text"
                placeholder="Enter username">
            </div>
            <div class="form-group">
              <label class="small mb-1" for="email">Email Address</label>
              <input class="form-control py-4" formControlName="email" id="email" type="text" placeholder="Enter email">
            </div>

            <button class="btn common-btn btn-primary big w-100 ff-eagle" [disabled]="!forgotPasswordForm.valid">
              Submit </button>
          </form>

        </div>
        <div class="card-footer text-left">
          <div class="mediuem">
            <a (click)="navigate()" class="mediuem dark-blue-link">Return to home</a>
            <!-- <a class="mediuem float-right dark-blue-link" data-toggle="collapse" href="#collapseHint">Don't remember
              email ?</a> -->
          </div>
          <!-- <div class="collapse mt-4" id="collapseHint">
            <div class="card card-body">
              If you don't remember email address or if it is no longer valid, call COH <a href="tel:832-395-2500">(832)
                395-2500</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

</div>